/* 
COLORS:

black: #383838
white: #F1F5F7
grayBlue: #8D99AE
red: #EF233C
lightBlue: #36C9C6

*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* 
  HEADER COMPONENT
*/

header {
  background: #383838;
  color: #F1F5F7;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  
}

header div,nav {
  flex: 1;
  
}

header .headerLogo span {
  font-weight: 700;
  font-size: 1.5em;
}

header a {
  color: #F1F5F7;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
}


header div .is-active, nav .is-active {
  color: #36C9C6;  
}

/* header account menu */
.loginInner {
  text-align: center;
  display: flex;
  align-items: center;
}
.loginInner #headerAvatarWrapper {
  text-align: right;
  padding-right: 10px;
  padding-top: 3px;
}
.loginInner #headerAvatar {  
  display: inline-block;
  /* border: 1px solid #F1F5F7; */
  /* border-radius: 5px; */
  height: 25px;
  width: 25px;
  margin: auto;
  padding: 0;
  flex: 1 50px;
   
}
.loginInner #headerAvatar img {
  height: 100%;
  width: 100%;
}


/* 
    SUPER SEARCH COMPONENT
*/

/* .formWrapper {
  max-width: 900px;
  margin: 15px auto;
  padding: 25px;
  display: flex;
} */

/* .formWrapper div {
  flex: 2;
}

.formWrapper .formButton {
  flex: 1;
  text-align: center;
}

.formWrapper div span {
  color: #383838;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}

.formWrapper div input {
  color: #383838;
  display: inline-block;
  height: 45px;
  padding: 5px;
  width: 95%;
}

.formWrapper .formButton button {
  border: none;
  background: #383838;
  color: #F1F5F7;
  cursor: pointer;
  display: inline-block;
  height: 45px;
  margin-top: 22px;
  padding: 5px;
  width: 95%;
} */

/* 
  SELL COMPONENT
*/

.sellWrapper {
  max-width: 900px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.sellWrapper .sellTitle {
  font-family: 'Roboto', sans-serif;
  color: #383838;
}

.sellWrapper .sellTitle h1 {
  font-weight: 700;
  font-size: 3em;
  /* margin: 15px 0; */
}

.sellWrapper .sellTitle h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 25px 0;
  /* max-width: 400px; */
}

.sellForm .sellForm__form {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  /* background: #8D99AE; */
}

.sellForm .sellForm__form #errorMessage {
  color: #EF233C;
  font-weight: 500;
}
/* this is a class attached to any blank input on submit */
.sellForm .sellForm__form div .inputHighlightError {
  border-color: #EF233C;
}

.sellForm .sellForm__form div {
  margin: 15px 0;
}

.sellForm .sellForm__form div input {
  display: inline-block;
  height: 30px;
  width: 100%;
  padding: 5px;
}

.sellForm .sellForm__form div textarea {
  display: inline-block;
  width: 100%;
  resize: none;
  height: 300px;
  padding: 5px;
}

.sellForm .sellForm__form div button {
  display: inline-block;
  border: none;
  background: #383838;
  color: #F1F5F7;
  
  padding: 10px;
  cursor: pointer;
}

/* 
  BUY PAGE COMPONENT
*/

.BuyPageTitle {
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #383838;
}

.BuyPageTitle h1 {
  font-weight: 700;
  font-size: 3em;
}

.BuyPageTitle h2 {
  font-weight: 300;
  font-size: 1.5em;
}
/* BUY LIST GRID */
.BuyListWrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: coral; */
  justify-content: flex-start;
}

.BuyListItem {   
  width: 30%;  
  margin: 10px 10px;;
  background: #383838;
}

.BuyListItem .imageWrapper {  
  width: 100%;
  height: 200px; 
  background-size: cover;
  margin-bottom: 10px;
}

.BuyListItem .imageWrapper img {
  width: 100%;  
}
.BuyListItem .titleWrapper {
  padding: 15px;  
  color: #F1F5F7;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
}

.BuyListItem .titleWrapper h3 {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 8px;
  flex: 1;
}

.BuyListItem .titleWrapper p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  flex: 1;
  text-align: left;
}

.BuyListItem .titleWrapper p::before {
  content: 'Price: ';
  font-weight: 300;
}

.BuyListItem .createdByWrapper {
  padding: 0px 15px;
  margin-bottom: 5px;
}

.BuyListItem .createdByWrapper span {
  color: #F1F5F7;
  font-family: 'Roboto',sans-serif;
}

.BuyListItem .desWrapper {
  padding: 15px;
  background: #383838;
  margin-bottom: 10px;
}

.BuyListItem .desWrapper p {
  font-family: 'Roboto', sans-serif;
  color: #F1F5F7;
  line-height: 25px; 
}

.BuyListItem .actionWrapper {
  background: #383838;
  color: #F1F5F7;
  padding: 5px 15px;
}

.BuyListItem .actionWrapper a {
  color: #36C9C6;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

}

/* 
  BUYVIEWMORE COMPONENT
*/

/* .viewMoreWrapper {
  max-width: 900px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}
/* title */
/* .viewMoreWrapper .titleInfo .innerTitleInfo  {
  display: flex;
  flex-direction: column;
  background: #383838;
  padding: 15px;
}
.viewMoreWrapper .titleInfo h1 {
  margin: 0 0 15px 0;
  font-family: ('Roboto'), sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #F1F5F7;
}

.viewMoreWrapper .titleInfo h3 {
  color: #F1F5F7;
  font-weight: 500;
} */ 



.viewMoreWrapper .itemDescriptionContainer {
  display: flex;
  flex-direction: row;
}
.viewMoreWrapper .itemDescriptionContainer .imageDiv {
  flex: 1;
}
.viewMoreWrapper .itemDescriptionContainer .imageDiv img {
  max-width: 100%;  
}

.viewMoreWrapper .itemDescriptionContainer .descriptionDiv {
  padding: 15px;
  font-family: ('Roboto'),sans-serif;
  color: #383838;
}

/* 
  Create Account Components
*/

/* CreateAccount.js */

.createAccountWrapper {
  max-width: 900px;
  margin: 15px auto;
  color: #383838;
}

.createAccountWrapper .createAccountTitle {
  margin-bottom: 25px;
}

.createAccountWrapper .createAccountTitle h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3em;
}

.createAccountWrapper .createAccountTitle h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

/* CreateForm.js */

.createFormWrapper .formError {
  margin-bottom: 15px;
}
.createFormWrapper .formError span {
  color: #EF233C;
  font-family: 'Roboto', sans-serif;
  
}

.createFormWrapper form {
  display: flex;
  flex-direction: column;
}

.createFormWrapper form .input {
  padding: 5px;
  text-align: left;
}

.createFormWrapper form .input input {  
  width: 60%;  
  padding: 5px;
}

.createFormWrapper form .formButtonsDiv {
  padding: 5px;
}

.createFormWrapper form .formButtonsDiv button {
  display: inline-block;
  border: none;
  padding: 10px;
  background: #383838;
  color: #F1F5F7;
  cursor: pointer;
}

/* 

  USER PROFILE COMPONENT

*/

.profileWrapper {
  max-width: 900px;
  margin: 15px auto;
  color: #383838;
  font-family: 'Roboto', sans-serif;
}

.profileWrapper h1 {
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 45px;
}

.profileWrapper .greetPane {
  border-top: 1px solid #383838;
  padding: 25px;
  margin-bottom: 25px;
}

.profileWrapper .greetPane h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.profileWrapper .profileSettingsPane {
  border-top: 1px solid #383838;
  padding: 25px;
  margin-bottom: 25px;
}

.profileWrapper .profileSettingsPane h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.profileWrapper .profileSettingsPane p {
  line-height: 35px;
}
.profileWrapper .profileSettingsPane .fieldLabel {
  font-weight: 600;
}

.profileWrapper .profileSettingsPane a {
  font-family: 'Roboto', sans-serif;
  color: #383838;
  font-weight: 600;
}